.nav-link{
    font-size: 15px;
    font-weight: 500;
    text-align: right;
    margin: 0px 15px;

}
.navbar-nav{
    margin-left: auto;
}



.logoutBtn{
    background-color: gray;
    margin-top: 5px;
    margin-left: 15px;
    padding: 4px 13px;
    border-radius: 5px;
    border: 1px solid gray;
}

.swapBtn{
    padding: 0;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 500;
    text-align: right;
}

#copy-clipboard {
    width: 15px;
}
