{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Link Account
{% endblock %}

{% block body %}

    <div class="loginBox">
        <div class="container">
            <div class="col text-center mt-3">
                <h4 class="mb-4">Enter The OTP</h4>
                <form method="POST" class="form-control col-md-6 justify-content-center m-auto">
                    {% csrf_token %}
                    <input name="otp" placeholder="Enter OTP" required>
                    <input name="2fa_password" type="text" placeholder="Passrowd if 2fa">
                    <input name="client" hidden value="{{ client }}">
                    <button class="btn btn-success mt-2" type="submit">Submit</button>
                </form>
                {#                <button class="btn btn-info mt-2" onclick="location.href='{% url 'tg_account:account-list' %}'">Go Back</button>#}

            </div>
        </div>
    </div>



{% endblock %}