.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
    background-color: rgb(82, 151, 255);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}



.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
    overflow:hidden;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    overflow:hidden;
    /*animation: floatup .5s forwards*/
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    overflow:hidden;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    /*animation: floatup .5s forwards*/
}
#inputMsg{
    width:475px;
    height:45px;
    margin-top:10px;
}
.sendBtn{
    background:tomato;
    padding: 9px 40px;
    border: 1px solid tomato;
    color:white;
    font-weight:700;
    cursor:pointer;
}
.backBtn{
    padding:5px 10px;
    background:red;
    border:1px solid red;
    border-radius:7px;
    cursor:pointer;
    color:white;
    text-decoration:none;
}
.backBtn:hover{
    color:white;
    text-decoration:none;
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}

.tryingtoscroll {
    max-height: 50px;
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.sendMessage {
    position: relative;
    top: 100px;
}

.timeValue {
    position: relative;
    font-size: 10px;
    float: right;
    left:10px;
    margin-top: -3px;


}

.chatbox {
    max-height:450px;
    max-width:600px;
    border-top:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
    overflow-y: scroll;
    background: linear-gradient(gray,black);
    margin-top:30px;
    margin-right:auto;
    margin-left:auto;
    border-radius:7px;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.send_btn {
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    font-weight: 800;
    background-color: black;
    margin: 10px 0;
}