{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contacts/contact-list.css' %}">
{% endblock %}

{% block title %}
    Cadence List
{% endblock %}

{% block body %}
    {% include "partials/nav.html" %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <section class="contacts">
        <div class="container">
            <div class="top d-flex m-auto">
                <div class="col-md-6">
                    <h1>Cadences</h1>
                    <button class="btn-md btn-success btn" onclick="location.href='{% url 'cadence:cadence-create' %}'">
                        Create New Cadence
                    </button>
                </div>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Execute</th>
                    <th scope="col">Delete</th>

                    </thead>
                    <tbody>
                    {% for cadence in object_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'cadence:cadence-detail' cadence.pk %}">{{ cadence.name }}</a></td>
                            <td><a href="{% url 'cadence:cadence-execute' cadence.pk %}">Execute</a></td>

                            <td>
                                <a href="{% url 'cadence:cadence-delete' cadence.pk %}">❌
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}