{% extends 'base.html' %}
{#{% load crispy_forms_tags %}#}
{% block head %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {{ form.media }}
{% endblock %}


{% block title %}
    Cadence Detail
{% endblock %}

{% block body %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-6">
                <h3>Script</h3>
                {% for message in messages_scripts %}
                    <div><strong>{{ message.account }}</strong> <i class="fas fa-long-arrow-alt-right"></i> {{ message.message }}
                        <strong><em>at</em></strong> {{ message.time_days }}: {{ message.time_hours }}: {{ message.time_minutes }}: {{ message.time_seconds }}-
                        <a href="{% url 'message:message-update' pk message.pk %}">Update</a>-
                        <a href="{% url 'message:message-delete' pk message.pk %}">Delete</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="loginBox">
        <div class="container">
            <div class="col text-center mt-3">
                <h4 class="mb-4">Create New Message</h4>
                <form method="POST" class="col-md-6 justify-content-center m-auto">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-success mt-2" type="submit">Create</button>

                </form>
                <button class="btn btn-info mt-2" onclick="location.href='{% url 'cadence:cadence-list' %}'">Go
                    Back
                </button>
                <a href="{% url 'cadence:cadence-execute' pk %}?page=detail" class="btn btn-secondary mt-2">Execute</a>
                <a href="{% url 'cadence:cadence-duplicate' pk %}" class="btn btn-warning mt-2">Duplicate</a>
                <a href="{% url 'cadence:cadence-import' pk %}" class="btn btn-dark mt-2">Import Messages</a>
                
            </div>
        </div>
    </div>

{% endblock %}