{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {{ form.media }}
{% endblock %}

{% block title %}
    Execute Cadence
{% endblock %}

{% block body %}


    <div class="loginBox">
        <div class="container">
            <div class="col text-center mt-3">
                <h4 class="mb-4">Execute Cadence</h4>
                <form method="POST" class="col-md-6 justify-content-center m-auto">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-success mt-2" type="submit">Execute</button>
                </form>
                {% if 'page' in request.get_full_path %}
                   <a href="{% url 'cadence:cadence-detail' pk %}" class="btn btn-secondary mt-2">Go Back</a>
                {% else %}
                    <a href="{% url 'cadence:cadence-list' %}" class="btn btn-secondary mt-2">Go Back</a>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}